@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "fontAwersome";
	src: url("../libs/font-awesome-4.7.0/fonts/fontawesome-webfont.eot");
	src: url("../libs/font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
			 url("../libs/font-awesome-4.7.0/fonts/fontawesome-webfont.woff") format("woff"),
			 url("../libs/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
