*::-webkit-input-placeholder {
	color: #a3a3a3;
	opacity: 1;
}
*:-moz-placeholder {
	color: #a3a3a3;
	opacity: 1;
}
*::-moz-placeholder {
	color: #a3a3a3;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #a3a3a3;
	opacity: 1;
}
* {
	padding: 0px;
	margin: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

h1 {
	font-size: 19px;
}
h2 {
	font-size: 18px;
	line-height: 1;
}
h3 {
	font-size: 18px;	
	font-weight: 400;
}
h6 {
	font-size: 13px;
	line-height: 1;
	color: #5F5D5D;
}

a {
	color: #1b82bf;
	text-decoration: none;
}
a.black {
	color: #2c2d30;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;	
}

button {
	padding: 7px 10px;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #c7cacd;
	background: #f9f9f9;
	font-weight: 800;
	font-size: 12px;
}
button:hover {
	color: #1b82bf;	
	background: #fff;
}

summary {
	outline: none;
	display: block;
	position: relative;
	z-index: 2;
	background: #fff;
}
summary::-webkit-details-marker { 
	display:none; 
}
summary::-moz-details-marker { 
	display:none; 
}
summary::-ms-details-marker { 
	display:none; 
}
summary::-o-details-marker { 
	display:none; 
}
@keyframes slideOut {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);        
    }
}
details > .ac-item-content {
    animation: slideOut 100ms ease-out;
}
details {
	overflow: hidden;		
}

.btn,
.btn-white {
	cursor: pointer;
}
.btn:not(.no-hover-color):hover {
	color: #1b82bf;
}
.btn.disabled {
	opacity: .3;
	cursor: default;
}
.btn.disabled:hover {
	color: inherit;
}
.btn-white:hover {
	color: #fff;
}
.btn.no-hover-color:hover {
	cursor: pointer;	
}
.star-i.icon:hover {
	color: #d6bb27;
}

html {
	height: 100%;
}
body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;	
	overflow-x: hidden;
	height: 100%;
}
.container {
	display: -webkit-flex;
	display: flex;
	align-items: stretch;
	height: 100%;
}

/* channels */

.channels {
	flex-basis: 68px;
	max-width: 68px;
	background: #282a29;
	padding: 16px 0;
}
.channel-item {
	color: #5d5e5d;
	font-size: 12px;
	margin-bottom: 20px;
	position: relative;
	padding: 0 16px;
	cursor: pointer;
}
.channel-item:hover {
	color: #939593;
}
.channel-item:after {
	content: "";
	position: absolute;
	left: 0px;
	height: 36px;
	top: 0px;
	background: #939493;
	display: none;
	width: 4px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;	
}

.channel-item.active:after {
	display: block;
} 
.channel-item-img,
.add-chanel {
	height: 36px;
	box-shadow: 0 0 5px -2px #000;
	border-radius: 3px;
	margin-bottom: 2px;
}
.add-chanel {
	background: #5d5e5d;
	text-align: center;
	vertical-align: middle;
	line-height: 36px;
	font-size: 20px;
	margin: 0 16px;
	cursor: pointer;
}
.add-chanel:hover {
	background: #7B7C7B;
}

/* aside */

aside {
	flex-basis: 200px;
	display: flex;
	flex-shrink: 0;	
	flex-direction: column;	
	border-right: 1px solid #e8e8e8;
	background: #4d5250;
	color: #c8c9c9;
	font-size: 15px;	


	max-width: 200px;
	overflow: hidden;
}
aside .top {
	padding: 10px 15px;
	flex-basis: 42px;
	flex-shrink: 0;
	padding-bottom: 9px;
}
aside .bot {
	flex-basis: 60px;
	flex-shrink: 0;	
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	background: #4d5250;
	z-index: 2;	
	transition: 150ms ease all;
	margin-top: auto;
}
aside .side-items {
	overflow: hidden;
	/* overflow-y: scroll; */
} 

/* .aside-wrapper {
	flex-basis: 200px;
	flex-shrink: 0;
	overflow-x: hidden;
	background: #4d5250;
	border-right: 1px solid #e8e8e8;
}
.aside-scroller {
	overflow-y: scroll;
	width: 220px;
	height: 100%;
}
aside {
	box-sizing: border-box;
	width: 200px;
	background: #4d5250;
	color: #c8c9c9;
	font-size: 15px;
	padding-top: 60px;
	padding-bottom: 100px;
}
aside .bot {
	position: fixed;
	bottom: 0px;
	width: 200px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	background: #4d5250;
	z-index: 2;	
	transition: 150ms ease all;
}*/
aside .bot:hover {
	color: #fff;
}
aside .top:hover,
aside .side-item:hover {
	background: #383c3a;
	cursor: pointer;
}
aside .side-item:active,
aside .side-item.active {
	background: #d39b46;
	color: #fff;
}
aside .sig-name span:hover,
aside .sig-name i:hover {
	color: #fff;
	cursor: pointer;
}
.side-item,
.sig-name {
	padding-left: 15px;
	padding-right: 15px;
}
/* aside .top {
	padding-top: 10px;
	padding-bottom: 12px;
	position: fixed;
	width: 170px;
	top: 0px;
	background: #4d5250;
	z-index: 2;	
} */
.user-name {
	font-size: 14px;
	line-height: 1;
	margin-top: -3px;
}
.status {
	width: 9px;
	height: 9px;
	display: inline-block;
	vertical-align: middle;
	background: #7fcbaf;
	border-radius: 50%;
	margin-right: 3px;
}
.status.off {
	background: transparent;
	box-shadow: 0 0 0 1px #fff inset;
}
.user-name span {
	display: inline-block;
	vertical-align: middle;
}
.group-name-container {
	display: flex;
    align-items: flex-start;
}
.group-name {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
}
.notifications-i {
	flex-basis: 20px;
	flex-shrink: 0; 
	font-size: 17px;
}
.arrow-bot-i {
	align-self: flex-end;
	padding-left: 5px;
}
.group-name .arrow-bot-i {
	font-size: 10px;	
}
.group-name h2 {
	color: #fff;
	text-transform: uppercase;
}
.all-threads-si {
	margin-top: 10px;
}
.all-threads-si i {
	margin-right: 1px;
}
.side-item span {
	display: inline-block;
	vertical-align: middle;
}
.side-item > span,
.side-item > div {
	position: relative;
	top: -1px;
}
.side-item-group {
	margin-top: 20px;
}
.sig-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3px;
}
.sig-name span {
	flex-grow: 1;
}
aside .sig-name span,
aside .sig-name i {
	transition: 150ms ease all;
}
aside .sig-name i {
	font-size: 18px;
}
.side-item .si-privacy,
.side-item .status {
	margin-right: 7px;
}
.sig-items .side-item {
	padding-left: 17px;
}
.side-item .you {
	margin-left: 7px;
	color: #a4a5a5;
}
.invite-si i {
	margin-right: 5px;
}

/* aside */
/* content */

.content-wrapper {
	flex-grow: 1;
	position: relative;
}
/* head */
.head {
	padding: 0 20px;
	padding-top: 8px;
	padding-right: 0px;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	align-items: center;
	flex-wrap: wrap;


	position: absolute;
	left: 0px;
	right: 0px;
	background: #fff;
	z-index: 2;
}
.channel-info {
	flex-grow: 1;
	padding-bottom: 8px;
}
.channel-name {
	font-size: 18px;
	line-height: 1;
	padding-bottom: 4px;
}
.channel-info-items .channel-info-item {
	display: inline-block;
	border-right: 1px solid #c4c5c6;
	padding: 0 5px;
	font-size: 13px;
	vertical-align: middle;
	line-height: 1;
	color: #717274;
}
.channel-info-items .channel-info-item .hovered {
	display: none;
}
.star-i:hover {
	color: #d6bb27;
}
.channel-info-items .channel-info-item:hover .hovered {
	display: inline-block;
}
.channel-info-items .channel-info-item span {
	display: inline-block;
	vertical-align: middle;
}
.channel-info .channel-info-item:last-of-type {
	border: none;
}
.channel-info .channel-info-item:first-of-type {
	padding-left: 0px;
}
.channel-info .topic {
	font-style: italic;
	position: relative
}
.channel-info .topic .add-topic {
	position: relative;
}
.channel-info .topic .add-topic:after {
	content: "";
	position: absolute;
	top: -3px;
	bottom: -7px;
	left: -5px;
	right: -5px;
	border: 1px solid #E3E6E7;
	border-radius: 4px;
	z-index: -1;
	display: none;
}
.channel-info .topic .add-topic:hover:after {
	display: block;
}
.channel-info .topic .hovered {
	font-style: normal;
	padding-left: 7px;
}

.channel-work {
	display: flex;
	align-self: center;
	color: #757678;
	padding-bottom: 8px;
}
.channel-work .active-showed {
	background: #e8e8e8;
	border-radius: 3px;
}
.channel-work .icon {
	font-size: 20px;
	width: 32px;
	text-align: center;	
}
.channel-work input {
	border: none;
	outline: none;
	display: block;
	align-items: center;
	padding: 3px 0;
	width: 240px;
	transition: 100ms ease all;
}
.channel-work .search {
	box-sizing: content-box;
	border: 1px solid #a0a0a2;
	border-radius: 5px;
	display: flex;
	margin: 0 4px;
}
.channel-work .search .icon {
	font-size: 19px;
}
.channel-work .del-i {
	visibility: hidden;
}
.channel-work input:focus {
	width: 320px;
}
.channel-work .search:hover {
	border: 1px solid #4A4A4A;	
}
.channel-work input:input + .del-i {
	visibility: visible;	
}
.channel-work .at-i:hover {
	color: #b90e0e;
}
/* content */
.content {
	height: 100%;
	display: flex;
}
/* chat */
.chat-wrapper {
	box-sizing: border-box;
	overflow-x: hidden;
	height: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	position: relative;
	flex-grow: 1;
}
.chat-scroller {
	overflow-y: scroll;
	position: absolute;
	top: 55px;
	left: 0px;
	/* right: -20px; */
	right: 0px;
	bottom: 60px;
}
.chat-container {
	padding-bottom: 18px;
	color: #2c2d30;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 100%;
}
/* message input */
.msg-input-container {
	left: 0px;
	right: 0px;
	position: absolute;
	bottom: 0px;
	margin: 0 17px;
	margin-bottom: 17px;
	box-sizing: border-box;
	display: flex;	
	background: #fff;
	z-index: 3;
	overflow: hidden;
}
.msg-input-container .add-i {
	flex-basis: 40px;
	border: 2px solid #bcbcbd;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
	display: flex;
	justify-content: center;
	color: #808082;
	transition: 100ms ease all;
	cursor: pointer;
	padding-top: 14px;
}
.msg-input-container .add-i:hover {
	color: #fff;
	background: #56b68b;
	border-color: #29a979;
}
.msg-input-container .smile-i,
.msg-input-container .at-i {
	position: absolute;
	font-size: 20px;
	color: #808082;
	right: 10px;
	height: 41px;
	padding: 0 5px;
	padding-top: 5px;
	transition: 100ms ease all;
}
.msg-input-container .at-i {
	position: absolute;
	font-size: 20px;
	color: #808082;
	right: 40px;
	padding-top: 5px;
}
.msg-input-container .smile-i:hover,
.msg-input-container .at-i:hover {
	transform: scale(1.2);
}
.msg-input-container .smile-i:hover {
	color: #f4b848;
}
.msg-input {
	max-height: 140px;
	padding: 10px 0;
	font-size: 14px;
	width: 100%;
	outline: none;	
	overflow: hidden;
	overflow-y: scroll;
	position: relative;
	left: 15px;	
	min-height: 22px;
}
.msg-input-wrapper {
	border: 2px solid #bcbcbd;
	display: flex;
	flex-grow: 1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
	box-sizing: border-box;
	border-left: none;
	overflow: hidden;	
}
[placeholder]:empty:before {
    content: attr(placeholder);
	color: #645C5C; 
	position: absolute;
	font-size: 16px;
	top: 8px;
	z-index: -1;
}
[placeholder]:not(:empty):before {
    content: "";
}
/* day head */
.day-head {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
	position: relative;
}
.new-messages-head {
	position: relative;
	text-align: right;
	color: #c74f4f;
    margin-top: -11px;
    margin-bottom: -10px;
}
.day-head {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: -5px;
	z-index: 3;
}
.day-head:before,
.new-messages-head:before {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -1px;
	left: 0px;
	right: 0px;
	height: 1px;
	background: #e8e8e8;
}
.new-messages-head:before {
	background: #c74f4f;
}
.day-head span,
.new-messages-head span {
	display: inline-block;
	background: #fff;
	z-index: 2;
	position: relative;
	padding: 0 10px;
	border-radius: 5px;
	line-height: 1;
}
/* messages */
.message-item .user-name {
	font-weight: bold;
	color: #000;
	font-size: 16px;
	vertical-align: bottom;	
	cursor: pointer;
	position: relative;
}
.message-item .user-name:after,
.ac-details-member .user-name:after {
	content: "";
	position: absolute;
	width: 100%;
	bottom: -2px;
	height: 1px;
	background: #000;
	display: none;
}
.message-item .user-name:hover:after,
.ac-details-member .user-name:hover:after {
	display: block;
}
.message-item .message-head {
	margin-top: -9px;
}
.message-item .message-head > div {
	display: inline-block;
	line-height: 1;
}
.message-items {
	font-size: 15px;
}
.message-item .message-time {
	font-size: 12px;
	color: #86868e;
	vertical-align: bottom;
	margin-left: 5px;
}
.user-image {
	width: 33px;
	height: 33px;
	border-radius: 3px;
	margin-right: 7px;
	background-size: cover;
	background-position: center;
}
.message-item.continuation .left-side {
	flex-basis: 47px;
	flex-shrink: 0;
}
.message-item.continuation:hover .left-side > div {
	display: inline-block;
}
.message-item.continuation .left-side {
	position: relative;
	top: -3px;
}
.message-item.continuation .left-side > div {
	display: none;
	vertical-align: middle;
}
.message-item.continuation .message-time {
	margin: 0px;
}
.message-item.continuation .star-i.icon {
	margin-left: 2px;
}
.message-item.continuation {
	padding-left: 15px;
	padding-top: 0px;
	margin-top: -5px;
}
.message-item {
	display: flex;
	align-items: flex-start;
	padding: 0 22px;
	padding-top: 6px;
	padding-bottom: 7px;
	position: relative;
}
.message-item:hover {
	background: #f9f9f9;
}
.message-item:hover .actions {
	display: flex;
}
.message-item:hover .star-i.icon {
	display: inline-block;
}
.message-item .star-i.icon {
	display: none;
	margin-left: 10px;
	vertical-align: bottom;
	font-size: 12px;
}
.message-item .actions {
	border: 1px solid #D2CFCF;
	align-items: center;
	border-radius: 7px;
	transition: 100ms ease all;
	position: absolute;
	top: -16px;
	right: 10px;
	background: #fff;
	display: none;
	z-index: 3;
}
@-moz-document url-prefix() {
	.message-item .actions {
		right: 15px;	
	}
}
.message-item .actions:hover {
	border-color: #8E8E8E;
	box-shadow: 0 1px 6px -3px #000;
}
.message-item .actions .icon {
	width: 33px;
	height: 30px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;	
	color: #6B6B6F;
	border-left: 1px solid #D2CFCF;
}
.message-item .actions .icon:first-of-type {
	border-left: none;
}
.message-item .actions .icon:hover {
	color: #1f61e4;
}
.message-item .reactions {
	padding-top: 4px;
}
.message-item .reaction-item {
	width: 29px;
	height: 18px;
	font-size: 14px;
	border: 1px solid #DCD9D9;
	border-radius: 5px;
	line-height: 1;
	text-align: center;
	display: inline-block;
	margin-right: 5px;
}
.message-item .reaction-item.active {
	border-color: #2187C6;
	background: #eaf5fc;
}
.message-item .reaction-item.active .count {
	color: #2187C6;
	font-weight: 800;	
}
.message-item .reaction-item:hover {
	border-color: #2187C6;
	cursor: pointer;
}
.message-item .reaction-item:hover .count {
	color: #2187C6;	
}
.message-item .reaction-item .count {
	font-size: 12px;
	color: #828080;
}
.message-item .reaction-item > span {
	display: inline-block;
	vertical-align: middle;
}
.message-item .reaction-item .icon {
	color: #f4b848;
}
.message-content .user-link {
	color: #186ea3;
	background: #eef7fd;
	border-radius: 3px;
	padding-bottom: 2px;
	cursor: pointer;
}
.message-content .user-link.self {
	background: #fff5cc;
}
.message-content .user-link:hover {
	color: #045B8F;	
	background: #e0f0fa;
	text-decoration: none;
}
.message-content .user-link.self:hover {
	background: #fff5cc;	
}
.message-item.pinned {
	background: #fffcf0;
	padding-top: 24px;
}
.message-item.pinned:hover {
	background: #fffced;
}
.message-item.pinned .pin {
	position: absolute;
	top: 2px;
	font-size: 11px;
	color: #7b7c7d;
	left: 46px;
}
.message-item.pinned .pin .i-pin {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	color: #f26130;
}
.message-item.pinned .pin > span {
	display: inline-block;
	vertical-align: middle;
}
.message-content .uploaded {
	color: #b3b3b9;
}
.message-content .uploaded > span,
.message-content .uploaded .i-go-ahead {
	display: inline-block;
	vertical-align: middle;
}
.message-content .uploaded .i-go-ahead {
	transform: rotate(90deg);
	font-size: 12px;
	margin-left: 5px;
	color: #9e9ea6;
}
.message-content .uploaded .image {
	height: 161px;
	width: 322px;
	background-size: cover;
	background-position: center;
	margin-top: 8px;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	cursor: zoom-in;
}
/* aside-chat */
details[open] .i-go-ahead {
	transform: rotate(90deg);
}
.aside-chat-wrapper {
	flex-basis: 406px;
	flex-shrink: 0;
	border-left: 1px solid #e8e8e8;
	padding-top: 61px;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	width: 406px;
}
.aside-chat-scroller {
	overflow-y: scroll;
	/* width: 423px; */
	height: 100%;
}
.aside-chat-container .message-item {
	padding: 0px;
}
.aside-chat-container .message-item:hover {
	background: inherit;
}
.aside-chat-container .message-item:hover .actions {
	display: none;
}
.about-channel-items .ac-item {
	border-bottom: 1px solid #e8e8e8;	
}
.aside-chat-head,
.about-channel-items .ac-item-head {
	padding: 16px 10px;
	padding-right: 13px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f7f7f7;
	border-bottom: 1px solid #e8e8e8;
}
.aside-chat-head .i-close {
	color: #727375;
	font-size: 20px;
}
.aside-chat-head .name > h1,
.aside-chat-head .name > span {
	display: inline-block;
}
.aside-chat-head .name > span {
	font-size: 19px;
}
.about-channel-items .ac-item-head {
	color: #79787c;
	background: transparent;
	padding: 18px 17px;
	padding-left: 0px;
	font-weight: 400;
	border: none;
}
.about-channel-items .ac-item:last-child {
	border-bottom: none;
}
.about-channel-items .ac-item .name > h3,
.about-channel-items .ac-item .name > .icon {
	display: inline-block;
	vertical-align: middle;
}
.about-channel-items .ac-item:hover {
	cursor: pointer;
}
.about-channel-items .ac-item:hover h3,
.about-channel-items .ac-item-head:hover > .icon {
	color: #222;
}
.about-channel-items .ac-item:hover > .name .icon {
	color: #615F5F;
}
.about-channel-items .ac-item .name > .icon {
	margin: 0 10px;
	font-size: 18px;
}
.ac-item.highlights .name .icon {
	color: #60b5e7;
}
.ac-item.pinned-items .name .icon {
	color: #f48059;
}
.ac-item.members .name .icon {
	color: #53ba93;
}
.ac-item.shared-files .name .icon {
	color: #ffa633;
}
.ac-item.notification-preferences .name .icon {
	color: #df5565;
}
.ac-item.highlights:hover .name .icon {
	color: #2AA0E4;
}
.ac-item.pinned-items:hover .name .icon {
	color: #EB521F;
}
.ac-item.members:hover .name .icon {
	color: #07AA6B;
}
.ac-item.shared-files:hover .name .icon {
	color: #E98605;
}
.ac-item.notification-preferences:hover .name .icon {
	color: #CE1429;
}
/* pinned-item */
.ac-content-item{
	border: 1px solid #e8e8e8;
	margin: 9px 11px;	
	padding: 10px;
	border-radius: 5px;
	position: relative;
	max-height: 121px;
	overflow: hidden;
}
.ac-content-i-simple {
	margin: 25px 11px;
	margin-top: 0px;
    border-radius: 5px;
    position: relative;
	overflow: hidden;
}
.ac-content-item:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: -12px;
	right: -12px;
	height: 30px;
	box-shadow: 0px -18px 10px -5px #fff inset;
}
.ac-content-item .i-close {
	position: absolute;
	top: 3px;
	right: 8px;
	color: #79787c;
	display: none;
}
.ac-content-item .i-close:hover {
	color: #222;
}
.ac-content-item:hover .i-close {
	display: block;
}
.ac-content-item .message-content {
	padding-top: 5px;
}
.ac-content-item:hover {
	box-shadow: 0px 2px 8px -6px #000;
}
.ac-item-content {
	padding-bottom: 10px;
}
.pre-items {
	color: #7B7979;
	padding: 0 11px;
	font-size: 15px;
	display: inline-block;
}
.ac-highlights-items .day-head {
	margin-bottom: 15px;
}
.ac-members-item {
	display: flex;
	align-items: center;
	border: none;
	margin: 0 7px;
	border-radius: 3px;
	padding: 5px 7px;
}
.ac-members-item:hover {
	box-shadow: 0 0 0 1px #cbe7f7;
	background: #eaf5fc;
}
.ac-item-content-simple {
	cursor: default;
}
.ac-members-item .user-name {
	font-weight: bold;
	color: #2c2d30;
	font-size: 16px;
	position: relative;
	top: -2px;	
	cursor: pointer;
}
.ac-members-item .user-image {
	width: 20px;
	height: 20px;
	margin-right: 9px;
}
.ac-members-item .status {
	margin-right: 9px;
}
.ac-members-items .invite {
	margin-left: 14px;
	font-size: 16px;
}
/* details */
.ac-details-items a,
.ac-notifications-value {
	font-size: 16px;
}
.ac-item-content-simple h6 {
	margin-bottom: 5px;
}
.ac-details-member {
	margin: 0px;
	padding: 0px;
	padding-top: 13px;
}
.ac-details-member .user-image {
	width: 36px;
	height: 36px;
}
.ac-details-member .status {
	margin-left: 6px;
}
.ac-details-member:hover {
	background: transparent;
	box-shadow: none;
}
.ac-details-member .user-name:hover {
	text-decoration: underline;
}
.ac-details-items {
	padding-bottom: 0px;
}
/* shared files */
.ac-shared-item {
	border: none;
}
.ac-shared-item:hover {
	box-shadow: 0 0 0 1px #e8e8e8;
}
.i-ac-shared-item {
	width: 31px;
	height: 38px;
	margin-right: 13px;
	background-repeat: no-repeat;
	background-position: center;
}
.ac-shared-item .image-content .i-ac-shared-item {
	background-size: cover;
	width: 48px;
	height: 48px;
	border: 1px solid #cccccc;
	border-radius: 3px;
}
.ac-shared-item .message-item .user-name,
.ac-shared-item .message-item .message-time {
	font-size: 14px;
	color: #717274;
	font-weight: 400;
}
.ac-shared-item .filename {
	color: #2c2d30;
	font-size: 17px;
	font-weight: 800;
}
.ac-shared-item .message-content {
	padding-top: 0px;
	font-size: 12px;
}
.ac-content-item .ac-item-nav,
.starred-item .jump,
.starred-item .i-unstar {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 5px;
	top: 5px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	color: #717274;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	background: #fff;
	display: none;
}
.ac-content-item:hover .ac-item-nav {
	display: block;
}
.ac-shared-item .user-name:after {
	background: #717274;
}
.ac-shared-item.ac-content-item:after {
	display: none;
}
/* acitvity */
.activity-items {
	font-size: 15px;
}
.activity-items .day {
	padding: 0 10px;
}
.activity-items-includes {
	padding: 5px 10px;
	font-size: 13px;
	border-bottom: 1px solid #e8e8e8;
	color: #59595B;
	cursor: pointer;
	display: flex;
	align-items: flex-start;
}
.activity-items-includes:hover {
	color: #717274;	
}
.activity-items-includes .i-more {
	font-size: 8px;
	margin-left: 4px;
	margin-top: 4px;
}
.activity-items-includes span {
	display: inline-block;
	vertical-align: middle;
}
.activity-items .day-head {
	margin-bottom: 15px;
}
.activity-items .channel {
	font-size: 16px;
	display: inline-block;
	padding-bottom: 15px;
}
.activity-items .message-item {
	margin-bottom: 20px;
}
.ac-item.notification-preferences button {
	margin-left: 11px;
}
/* starred */
.starred-item {
	margin: 0 5px;
	padding: 17px 19px;
	padding-right: 13px;
	font-size: 15px;
	border-bottom: 1px solid #eeeeee;
}
.starred-item .message-time {
	font-size: 13px;
	margin-left: 11px;
}
.starred-item .posted {
	font-size: 13px;
	color: #717274;
	margin-top: 2px
}
.starred-item:hover .i-unstar,
.starred-item:hover .jump {
	display: block;
}
.starred-item .i-unstar,
.starred-item .jump {
	top: -10px;
	right: -5px;
}
.starred-item .jump {
	right: 30px;
	width: auto;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 800;
	color: #2c2d30;
}
.starred-item .i-unstar {
	color: #f4b848;
}
