*::-webkit-input-placeholder {
	color: #a3a3a3;
	opacity: 1;
}
*:-moz-placeholder {
	color: #a3a3a3;
	opacity: 1;
}
*::-moz-placeholder {
	color: #a3a3a3;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #a3a3a3;
	opacity: 1;
}
* {
	padding: 0px;
	margin: 0px;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

h1 {
	font-size: 19px;
}
h2 {
	font-size: 18px;
	line-height: 1;
}
h3 {
	font-size: 18px;	
	font-weight: 400;
}
h6 {
	font-size: 15px;
	line-height: 1;
}

a {
	color: #1f61e4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;	
}

.btn:not(.no-hover-color):hover {
	color: #1f61e4;
	cursor: pointer;
}
.btn.no-hover-color:hover {
	cursor: pointer;	
}
.star-i.icon:hover {
	color: #d6bb27;
}

html {
	height: 100%;
}
body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;	
	overflow-x: hidden;
	height: 100%;
}
.container {
	display: -webkit-flex;
	display: flex;
	align-items: stretch;
	height: 100%;
}

/* channels */

.channels {
	flex-basis: 68px;
	max-width: 68px;
	background: #282a29;
	padding: 16px 0;
}
.channel-item {
	color: #5d5e5d;
	font-size: 12px;
	margin-bottom: 20px;
	position: relative;
	padding: 0 16px;
	cursor: pointer;
}
.channel-item:hover {
	color: #939593;
}
.channel-item:after {
	content: "";
	position: absolute;
	left: 0px;
	height: 36px;
	top: 0px;
	background: #939493;
	display: none;
	width: 4px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;	
}

.channel-item.active:after {
	display: block;
} 
.channel-item-img,
.add-chanel {
	height: 36px;
	box-shadow: 0 0 5px -2px #000;
	border-radius: 3px;
	margin-bottom: 2px;
}
.add-chanel {
	background: #5d5e5d;
	text-align: center;
	vertical-align: middle;
	line-height: 36px;
	font-size: 20px;
	margin: 0 16px;
	cursor: pointer;
}
.add-chanel:hover {
	background: #7B7C7B;
}

/* aside */

.aside-wrapper {
	flex-basis: 200px;
	flex-shrink: 0;
	overflow-x: hidden;
	background: #4d5250;
	border-right: 1px solid #e8e8e8;
}
.aside-scroller {
	overflow-y: scroll;
	width: 220px;
	height: 100%;
}
aside {
	box-sizing: border-box;
	width: 200px;
	background: #4d5250;
	color: #c8c9c9;
	font-size: 15px;


	padding-top: 60px;
	padding-bottom: 100px;
}
aside .bot {
	position: fixed;
	bottom: 0px;
	width: 200px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	background: #4d5250;
	z-index: 2;	
	transition: 150ms ease all;
}
aside .bot:hover {
	color: #fff;
}
aside .top:hover,
aside .side-item:hover {
	background: #383c3a;
	cursor: pointer;
}
aside .side-item:active,
aside .side-item.active {
	background: #d39b46;
	color: #fff;
}
aside .sig-name span:hover,
aside .sig-name i:hover {
	color: #fff;
	cursor: pointer;
}
aside .top,
.side-item,
.sig-name {
	padding: 0 15px;
}
aside .top {
	padding-top: 10px;
	padding-bottom: 12px;
	position: fixed;
	width: 170px;
	top: 0px;
	background: #4d5250;
	z-index: 2;	
}
.user-name {
	font-size: 14px;
	line-height: 1;
}
.status {
	width: 9px;
	height: 9px;
	display: inline-block;
	vertical-align: middle;
	background: #99d04a;
	border-radius: 50%;
	margin-right: 3px;
}
.status.off {
	background: transparent;
	box-shadow: 0 0 0 1px #fff inset;
}
.user-name span {
	display: inline-block;
	vertical-align: middle;
}
.group-name-container {
	display: flex;
    align-items: flex-start;
}
.group-name {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
}
.notifications-i {
	flex-basis: 20px;
	flex-shrink: 0; 
	font-size: 17px;
}
.arrow-bot-i {
	align-self: flex-end;
	padding-left: 5px;
}
.group-name .arrow-bot-i {
	font-size: 10px;	
}
.group-name h2 {
	color: #fff;
	text-transform: uppercase;
}
.all-threads-si {
	margin-top: 10px;
}
.all-threads-si i {
	margin-right: 1px;
}
.side-item span {
	display: inline-block;
	vertical-align: middle;
}
.side-item > span,
.side-item > div {
	position: relative;
	top: -1px;
}
.side-item-group {
	margin-top: 20px;
}
.sig-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3px;
}
.sig-name span {
	flex-grow: 1;
}
aside .sig-name span,
aside .sig-name i {
	transition: 150ms ease all;
}
aside .sig-name i {
	font-size: 18px;
}
.side-item .si-privacy,
.side-item .status {
	margin-right: 7px;
}
.sig-items .side-item {
	padding-left: 17px;
}
.side-item .you {
	margin-left: 7px;
	color: #a4a5a5;
}
.invite-si i {
	margin-right: 5px;
}

/* aside */
/* content */

.content-wrapper {
	flex-grow: 1;
	position: relative;
}
/* head */
.head {
	padding: 0 20px;
	padding-top: 8px;
	padding-right: 0px;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	align-items: center;
	flex-wrap: wrap;


	position: absolute;
	left: 0px;
	right: 0px;
	background: #fff;
	z-index: 2;
}
.channel-info {
	flex-grow: 1;
	padding-bottom: 8px;
}
.channel-name {
	font-size: 18px;
	line-height: 1;
	padding-bottom: 4px;
}
.channel-info-items .channel-info-item {
	display: inline-block;
	border-right: 1px solid #c4c5c6;
	padding: 0 5px;
	font-size: 13px;
	vertical-align: middle;
	line-height: 1;
	color: #717274;
}
.channel-info-items .channel-info-item .hovered {
	display: none;
}
.star-i:hover {
	color: #d6bb27;
}
.channel-info-items .channel-info-item:hover .hovered {
	display: inline-block;
}
.channel-info-items .channel-info-item span {
	display: inline-block;
	vertical-align: middle;
}
.channel-info .channel-info-item:last-of-type {
	border: none;
}
.channel-info .channel-info-item:first-of-type {
	padding-left: 0px;
}
.channel-info .topic {
	font-style: italic;
	position: relative
}
.channel-info .topic .add-topic {
	position: relative;
}
.channel-info .topic .add-topic:after {
	content: "";
	position: absolute;
	top: -3px;
	bottom: -7px;
	left: -5px;
	right: -5px;
	border: 1px solid #E3E6E7;
	border-radius: 4px;
	z-index: -1;
	display: none;
}
.channel-info .topic .add-topic:hover:after {
	display: block;
}
.channel-info .topic .hovered {
	font-style: normal;
	padding-left: 7px;
}

.channel-work {
	display: flex;
	align-self: center;
	color: #757678;
	padding-bottom: 8px;
}
.channel-work .icon {
	font-size: 20px;
	width: 32px;
	text-align: center;	
}
.channel-work input {
	border: none;
	outline: none;
	display: block;
	align-items: center;
	padding: 3px 0;
	width: 240px;
	transition: 100ms ease all;
}
.channel-work .search {
	box-sizing: content-box;
	border: 1px solid #a0a0a2;
	border-radius: 5px;
	display: flex;
	margin: 0 4px;
}
.channel-work .search .icon {
	font-size: 19px;
}
.channel-work .del-i {
	visibility: hidden;
}
.channel-work input:focus {
	width: 320px;
}
.channel-work .search:hover {
	border: 1px solid #4A4A4A;	
}
.channel-work input:input + .del-i {
	visibility: visible;	
}
.channel-work .at-i:hover {
	color: #b90e0e;
}
/* content */
.content {
	height: 100%;
	display: flex;
}
/* chat */
.chat-wrapper {
	box-sizing: border-box;
	overflow-x: hidden;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 60px;
	position: relative;
	flex-grow: 1;
}
.chat-scroller {
	overflow-y: scroll;
	/* height: 100%; */

	position: absolute;
	top: 64px;
	left: 0px;
	right: -15px;
	bottom: 60px;
}
.chat-container {
	padding-bottom: 18px;
	color: #2c2d30;	
}
/* message input */
.msg-input-container {
	left: 0px;
	right: 0px;
	position: absolute;
	bottom: 0px;
	padding: 0 17px;
	padding-bottom: 17px;
	box-sizing: border-box;
	display: flex;	
	background: #fff;
}
.msg-input-container .add-i {
	flex-basis: 40px;
	border: 2px solid #bcbcbd;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
	display: flex;
	align-items: center;
	justify-content: center;
	color: #808082;
	transition: 100ms ease all;
}
.msg-input-container .add-i:hover {
	color: #fff;
	background: #56b68b;
	border-color: #29a979;
}
.msg-input {
	border: 2px solid #bcbcbd;
	display: flex;
	flex-grow: 1;
	align-items: center;
	padding: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
	font-size: 14px;
	box-sizing: border-box;
	border-left: none;
	outline: none;
}
.msg-input textarea {
	outline: none;
	border: none;
	display: block;
	height: 100%;
	resize: none;
}
.day-head {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
	position: relative;
}
.new-messages-head {
	position: relative;
	text-align: right;
	color: #c74f4f;
    margin-top: -11px;
    margin-bottom: -10px;
}
.day-head:before,
.new-messages-head:before {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -1px;
	left: 0px;
	right: 0px;
	height: 1px;
	background: #e8e8e8;
}
.new-messages-head:before {
	background: #c74f4f;
}
.day-head span,
.new-messages-head span {
	display: inline-block;
	background: #fff;
	z-index: 2;
	position: relative;
	padding: 0 10px;
	border-radius: 5px;
	line-height: 1;
}
/* messages */
.message-item .user-name {
	font-weight: bold;
	color: #000;
	font-size: 16px;
	vertical-align: bottom;	
	cursor: pointer;
	position: relative;
}
.message-item .user-name:after {
	content: "";
	position: absolute;
	width: 100%;
	bottom: -2px;
	height: 1px;
	background: #000;
	display: none;
}
.message-item .user-name:hover:after {
	display: block;
}
.message-item .message-head {
	margin-top: -9px;
}
.message-item .message-head > div {
	display: inline-block;
	line-height: 1;
}
.message-items {
	font-size: 15px;
}
.message-item .message-time {
	font-size: 12px;
	color: #86868e;
	vertical-align: bottom;
	margin-left: 5px;
}
.message-item .user-image {
	width: 33px;
	height: 33px;
	border-radius: 3px;
	margin-right: 7px;
	background-size: cover;
	background-position: center;
}
.message-item.continuation .left-side {
	flex-basis: 47px;
	flex-shrink: 0;
}
.message-item.continuation:hover .left-side > div {
	display: inline-block;
}
.message-item.continuation .left-side {
	position: relative;
	top: -3px;
}
.message-item.continuation .left-side > div {
	display: none;
	vertical-align: middle;
}
.message-item.continuation .message-time {
	margin: 0px;
}
.message-item.continuation .star-i.icon {
	margin-left: 2px;
}
.message-item.continuation {
	padding-left: 15px;
	padding-top: 0px;
	margin-top: -5px;
}
.message-item {
	display: flex;
	align-items: flex-start;
	padding: 0 22px;
	padding-top: 6px;
	padding-bottom: 7px;
	position: relative;
}
.message-item:hover {
	background: #f9f9f9;
}
.message-item:hover .actions {
	display: flex;
}
.message-item:hover .star-i.icon {
	display: inline-block;
}
.message-item .star-i.icon {
	display: none;
	margin-left: 10px;
	vertical-align: bottom;
	font-size: 12px;
}
.message-item .actions {
	border: 1px solid #D2CFCF;
	align-items: center;
	border-radius: 7px;
	transition: 100ms ease all;
	position: absolute;
	top: -16px;
	right: 5px;
	background: #fff;
	display: none;
	z-index: 3;
}
.message-item .actions:hover {
	border-color: #8E8E8E;
	box-shadow: 0 1px 6px -3px #000;
}
.message-item .actions .icon {
	width: 33px;
	height: 30px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;	
	color: #6B6B6F;
	border-left: 1px solid #D2CFCF;
}
.message-item .actions .icon:first-of-type {
	border-left: none;
}
.message-item .actions .icon:hover {
	color: #1f61e4;
}
.message-item .reactions {
	padding-top: 4px;
}
.message-item .reaction-item {
	width: 29px;
	height: 18px;
	font-size: 14px;
	border: 1px solid #DCD9D9;
	border-radius: 5px;
	line-height: 1;
	text-align: center;
	display: inline-block;
	margin-right: 5px;
}
.message-item .reaction-item.active {
	border-color: #2187C6;
	background: rgba(33, 135, 198, 0.1);
}
.message-item .reaction-item.active .count {
	color: #2187C6;
	font-weight: 800;	
}
.message-item .reaction-item:hover {
	border-color: #2187C6;
	cursor: pointer;
}
.message-item .reaction-item:hover .count {
	color: #2187C6;	
}
.message-item .reaction-item .count {
	font-size: 12px;
	color: #828080;
}
.message-item .reaction-item > span {
	display: inline-block;
	vertical-align: middle;
}
.message-item .reaction-item .icon {
	color: #f4b848;
}
/* aside-chat */
.aside-chat-wrapper {
	flex-basis: 406px;
	flex-shrink: 0;
	border-left: 1px solid #e8e8e8;
	padding-top: 61px;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	width: 406px;
}
.aside-chat-scroller {
	overflow-y: scroll;
	width: 419px;
	height: 100%;
}
.about-channel-items .ac-item {
	border-bottom: 1px solid #e8e8e8;	
}
.aside-chat-head,
.about-channel-items .ac-item-head {
	padding: 16px 10px;
	padding-right: 13px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f7f7f7;
	border-bottom: 1px solid #e8e8e8;
}
.aside-chat-head .i-close {
	color: #727375;
}
.aside-chat-head .name > h1,
.aside-chat-head .name > span {
	display: inline-block;
}
.aside-chat-head .name > span {
	font-size: 19px;
}
.about-channel-items .ac-item-head {
	color: #79787c;
	background: transparent;
	padding: 18px 17px;
	padding-left: 0px;
	font-weight: 400;
	border: none;
}
.about-channel-items .ac-item:last-child {
	border-bottom: none;
}
.about-channel-items .ac-item .name > h3,
.about-channel-items .ac-item .name > .icon {
	display: inline-block;
	vertical-align: middle;
}
.about-channel-items .ac-item:hover {
	cursor: pointer;
}
.about-channel-items .ac-item:hover h3,
.about-channel-items .ac-item:hover > .icon {
	color: #222;
}
.about-channel-items .ac-item:hover > .name .icon {
	color: #615F5F;
}
.about-channel-items .ac-item .name > .icon {
	margin: 0 7px;
	font-size: 18px;
}
.ac-item.highlights .name .icon {
	color: #60b5e7;
}
.ac-item.pinned-items .name .icon {
	color: #f48059;
}
.ac-item.members .name .icon {
	color: #53ba93;
}
.ac-item.shared-files .name .icon {
	color: #ffa633;
}
.ac-item.notification-preferences .name .icon {
	color: #df5565;
}
.ac-item.highlights:hover .name .icon {
	color: #2AA0E4;
}
.ac-item.pinned-items:hover .name .icon {
	color: #EB521F;
}
.ac-item.members:hover .name .icon {
	color: #07AA6B;
}
.ac-item.shared-files:hover .name .icon {
	color: #E98605;
}
.ac-item.notification-preferences:hover .name .icon {
	color: #CE1429;
}
/* pinned-item */
.ac-pinned-item {
	border: 1px solid #e8e8e8;
	margin: 9px 11px;	
	padding: 10px;
	border-radius: 5px;
	position: relative;
	max-height: 121px;
	overflow: hidden;
}
.ac-pinned-item:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: -12px;
	right: -12px;
	height: 30px;
	box-shadow: 0px -18px 10px -5px #fff inset;
}
.ac-pinned-item .i-close {
	position: absolute;
	top: 3px;
	right: 8px;
	color: #79787c;
	display: none;
}
.ac-pinned-item:hover .i-close:hover {
	color: #222;
}
.ac-pinned-item:hover .i-close {
	display: block;
}
.ac-pinned-item .message-item {
	padding: 0px;
}
.ac-pinned-item .message-item:hover {
	background: inherit;
}
.ac-pinned-item .message-content {
	padding-top: 5px;
}
.ac-pinned-item:hover {
	box-shadow: 0px 2px 8px -6px #000;
}
.ac-item-content {
	padding-bottom: 10px;
}