@media only screen and (max-width : 1430px) {
	.channel-work input {
		width: 190px;
	}
	.channel-work input:focus {
		width: 270px;
	}
	.aside-chat-wrapper {
		flex-basis: 355px;
		width: 355px;
	}
	.aside-chat-scroller {
		width: 368px;
	}
	@-moz-document url-prefix() {
		.aside-chat-scroller {
			width: 362px;
		}
	}		
}
@media only screen and (max-width : 1340px) {
	.channel-work input {
		width: 140px;
	}
	.channel-work input:focus {
		width: 220px;
	}
	.aside-chat-wrapper {
		flex-basis: 307px;
		width: 307px;
	}
	.aside-chat-scroller {
		width: 320px;
	}
	@-moz-document url-prefix() {
		.aside-chat-scroller {
			width: 357px;
		}
	}	
}
@media only screen and (max-width : 1260px) {
	.channel-work input {
		width: 120px;
	}
	.channel-work input:focus {
		width: 200px;
	}
	.aside-chat-wrapper {
		flex-basis: 286px;
		width: 286px;
	}
	.aside-chat-scroller {
		width: 299px;
	}
	@-moz-document url-prefix() {
		.aside-chat-scroller {
			width: 294px;
		}
	}	
}
@media only screen and (max-width : 1055px) {
	.channel-work input {
		width: 110px;
	}
	.channel-work input:focus {
		width: 180px;
	}
	.aside-chat-wrapper {
		flex-basis: 276px;
		width: 276px;
	}
	.aside-chat-scroller {
		width: 289px;
	}
	@-moz-document url-prefix() {
		.aside-chat-scroller {
			width: 284px;
		}
	}	
}
@media only screen and (max-width : 860px) {
	.channel-work input {
		width: 70px;
	}
	.aside-chat-wrapper {
		flex-basis: 237px;
		width: 237px;
	}
	.aside-chat-scroller {
		width: 250px;
	}
	@-moz-document url-prefix() {
		.aside-chat-scroller {
			width: 245px;
		}
	}	
}