/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1430px) {
	.channel-work input {
		width: 190px;
	}
	.channel-work input:focus {
		width: 270px;
	}
	.aside-chat-wrapper {
		flex-basis: 355px;
		width: 355px;
	}
	.aside-chat-scroller {
		width: 368px;
	}
}
@media only screen and (max-width : 1340px) {
	.channel-work input {
		width: 140px;
	}
	.channel-work input:focus {
		width: 220px;
	}
	.aside-chat-wrapper {
		flex-basis: 307px;
		width: 307px;
	}
	.aside-chat-scroller {
		width: 320px;
	}
}
@media only screen and (max-width : 1260px) {
	.channel-work input {
		width: 120px;
	}
	.channel-work input:focus {
		width: 200px;
	}
	.aside-chat-wrapper {
		flex-basis: 286px;
		width: 286px;
	}
	.aside-chat-scroller {
		width: 299px;
	}
}
@media only screen and (max-width : 1055px) {
	.channel-work input {
		width: 110px;
	}
	.channel-work input:focus {
		width: 180px;
	}
	.aside-chat-wrapper {
		flex-basis: 276px;
		width: 276px;
	}
	.aside-chat-scroller {
		width: 289px;
	}
}
@media only screen and (max-width : 860px) {
	.channel-work input {
		width: 70px;
	}
	.aside-chat-wrapper {
		flex-basis: 237px;
		width: 237px;
	}
	.aside-chat-scroller {
		width: 250px;
	}
}
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}