* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "PT sans", sans-serif;
}
h1 {
	/*font-size: 54px;*/
	font-size: 3em;
	text-align: center;
}
h2 {
	/*font-size: 42px;*/
	font-size: 2.33em;
	text-align: center;
	line-height: 1.15;
	font-family: "FuturaDemiC", sans-serif;
	color: #424242;
}
h3 {
	/*font-size: 36px;*/
	font-size: 2em;
	line-height: 1.15;
	text-align: center;
	color: #424242;
}
h4 {
	/*font-size: 32px;*/
	font-size: 1.77em;
	text-align: center;
	line-height: 1.15;
	color: #424242;
}
h5 {
	/*font-size: 28px;*/
	font-size: 1.55em;
	text-align: center;
	line-height: 1.15;
	text-align: center;
	color: #424242;
}
h6 {
	/*font-size: 22px;*/
	font-size: 1.22em;
	text-align: center;
	font-weight: 400;
	line-height: 1.15;
	text-align: center;
	color: #424242;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover,
a:focus {
	text-decoration: none;
	color: #fff;
}
button,
input[type="submit"] {
	background: #3cb3ed;
	border: none;
	outline: none;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	font-size: 22px;
	font-size: 1.22em;
	color: #fff;
	transition: 200ms ease;
}
button:hover,
input[type="submit"]:hover {
	background: #0079b4;
}
input[type="submit"] {
	/*font-size: 28px;*/
	font-size: 1.55em;
	margin-bottom: 0px;
}
input {
	height: 51px;
	width: 89%;
	padding: 0 15px;
	margin-bottom: 17px;
	outline: none;
	border: none;
	/*font-size: 24px;*/
	font-size: 1.3em;
	font-family: "FuturaBoockC", sans-serif;
	color: #c0c0c0;
}
input[type="radio"] {
	width: 10px;
	height: 10px;
}
sup {
	font-size: 0.6em;
}
section {
	padding: 40px 0 82px 0;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
header {
	min-height: 826px;
	font-family: "FuturaBoockC", sans-serif;
	padding-bottom: 38px;
	background-size: cover;
	background-color:#000;
}
header .top {
	background: rgba(0, 0, 0, 0.7);
}
nav ul li {
	display: inline-block;
	margin: 0 13px;
}
nav ul li a {
	color: #fefefe;
}
header nav {
	margin-left: 45px;
	padding: 22px 0;
}
.logo {
	text-align: right;
	padding-top: 10px;
}
.logo a {
	font-size: 1.77em;
	color: #ffffff;
}
.call {
	text-align: right;
	font-family: "PT sans", sans-serif;
}
.call .phone-n {
	display: inline-block;
	margin-right: -6px;
	vertical-align: top;
	padding: 2px 18px;
	background: rgba(0, 0, 0, 0.3);
	font-size: 1.22em;
	font-weight: 700;
	color: #feffff;
}
.call .phone-n span {
	color: #c1c1c1;
	font-weight: 400;
}
.call button {
	padding: 2px 14px;
}
.call button,
header .form input[type="submit"],
.get-price button {
	background: #039be5;
}
.call button:hover,
header .form input[type="submit"]:hover,
.get-price button:hover {
	background: #0079b4;
}
.content-bg {
	color: #fefefe;
}
.content-bg h1 {
	padding: 40px 0;
	text-align: center;
	font-weight: 500;
	line-height: 1.2;
}
.content-bg h1 span {
	font-family: "FuturaDemiC", sans-serif;
}
.content-bg .economy {
	text-align: right;
	font-size: 1.1em;
	margin-right: -26px;
}
.content-bg .economy div {
	display: inline-block;
	padding: 0 3px;
	border: 3px solid #3cb3ed;
	line-height: 1.5;
}
.rectangle {
	position: relative;
	margin-top: 14px;
	margin-bottom: 122px;
	border: 4px solid #fff;
	border-left: transparent;
	background: rgba(0, 0, 0, 0.2);
	line-height: 1.2;
}
.rectangle:before,
.rectangle:after {
	content: "";
	display: block;
	position: absolute;
	left: -4px;
	top: -4px;
	height: 26px;
	width: 4px;
	background: #fff;
}
.rectangle:after {
	top: auto;
	bottom: -4px;
}
.negative-offset-1 {
	margin-left: -8.3%;
}
.negative-offset-2 {
	margin-left: -16.6%;
}
.rectangle .text {
	padding: 49px 10px 48px 10px;
	background: transparent;
	font-size: 1.44em;
}
.rectangle .text span {
	font-family: "FuturaDemiC", sans-serif;
}
header .form {
	float: left;
	position: absolute;
	bottom: -27px;
	right: 5%;
	width: 42%;
	margin-left: 5.5%;
}
header .form input {
	width: 100%;
}
.arrow {
	width: 37px;
	height: 37px;
	margin: 0 auto;
	background: url("../img/arrow.png");
	transition: 300ms ease;
}
.arrow a {
	display: block;
	height: 100%;
}
