*::-webkit-input-placeholder {
	text-align: center;
	color: #111111;
	opacity: 1;
}
*:-moz-placeholder {
	text-align: center;
	color: #111111;
	opacity: 1;
}
*::-moz-placeholder {
	text-align: center;
	color: #111111;
	opacity: 1;
}
*:-ms-input-placeholder {
	text-align: center;
	color: #111111;
	opacity: 1;
}
.features {
    padding-top: 110px;
	padding-bottom: 67px;
	background: url(img/features-bg.jpg) no-repeat;
	background-size: cover;
}
.features h5 {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 38px;
	line-height: 1.1;
	color: #001b8a;
}
.features .img {
	height: 50px;
	width: 70px;
	margin-bottom: 20px;
	line-height: 50px;
}
.features .content {
	width: 88%;
	margin: 0 auto;
	margin-bottom: 134px;
}
.features .f-item:first-child .content {
	margin: 0px;
}
.features .f-item:last-child .content {
	margin-left: 14%;
}
.features .f-item p {
	font-size: 0.89em;
	line-height: 1.3;
	font-weight: 600;
}
p .small {
	font-size: 0.88em;
	font-weight: 500;
}
.features p .small {
	font-style: italic;
}
span.mark {
	font-weight: 600;
	color: #fd4134;
}
.bef,
.bef-t {
	position: relative;
}
.bef:before,
.bef-t:before {
	content: "";
	position: absolute;
	top: 9px;
	left: -76px;
	width: 60px;
	height: 9px;
	background: #fd4134;
}
.bef-t:before {
	width: 49px;
	left: 0px;
	top: -12px;
}
.arrow-bottom {
	height: 22px;
	width: 23px;
	margin: 0 auto;
	margin-top: 92px;
	background: url(img/arrow-bottom.png);
}
.arrow-bottom a {
	display: block;
	height: 100%;
}
.ask {
	padding-top: 68px;
	padding-bottom: 56px;
	background: url(img/ask-bg.jpg) center no-repeat;
	background-size: cover;
}
.ask .connect-u {
	display: inline-block;
	vertical-align: middle;
	width: 26%;
	margin-right: 16%;
	font-size: 0.78em;
	font-weight: 700;
	line-height: 1.2;
	color: #fd4134;
}
.ask h2 {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}
.ask h2 span {
	display: block;
	font-size: 0.42em;
}
.ask button {
	background: transparent;
	width: 275px;
	margin-top: 12px;
	margin-left: 14%;
	border-color: #f7e300;
}
.advantages {
	padding-bottom: 100px;
	padding-top: 137px;
	background: url(img/advantages-bg.jpg) center top repeat-y;
	background-size: cover;
	overflow: hidden;
}
.advantages h2 {
	color: #fff;
}
.advantages img {
	margin-top: -70px;
	width: 100%;
	height: auto;
}
.advantages .ask-question {
	position: absolute;
	bottom: 37%;
	margin-left: 38px;
	text-decoration: none;
	border-bottom: 1px dotted #fff; 
	font-style: italic;
	font-size: 0.78em;
	color: #fff;
}
.advantages .ask-question:before {
	content: "";
	position: absolute;
	left: -39px;
	display: block;
	width: 26px;
	height: 26px;
	background: url(img/plane.png)
}
.advantages .advantage-item p {
	position: relative;
	margin-bottom: 140px;
	font-size: 0.78em;
	font-style: italic;
	line-height: 1.7;
	color: #fff;
	z-index: 2;
}
.advantages .advantage-item .num {
	position: absolute;
	top: -60px;
	left: -20px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #450949;
	font-size: 1.44em;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	color: #fff;
}
button.bg {
	width: 100%;
	border-color: #490e49;
	background: url(img/button-bg.png) no-repeat center right 47px;
	font-family: 'Roboto Slab', serif;
	font-size: 2.66em;
	text-align: left;
}
button.bg a {
	width: 64%;
	padding: 30px 0;
	margin-left: 6.6%;
	color: #fff;
	line-height: 0.65;
}
button.bg span {
	font-size: 0.5em;
}
.to-order {
	position: relative;
	height: 734px;
	/*background: url(img/header-bg-hq.jpg) no-repeat center;*/
	/*background-size: cover;*/
}
/*.to-order .container,
.to-order .row,
.to-order .col-md-12 {
	height: 100%;
}*/
.to-order .arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -42px;
	margin-top: -42px;
	display: block;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background: url(img/order-arrow.png) no-repeat center;
}
.to-order button {
	position: absolute;
	bottom: -32px;
	right: 0px;
	z-index: 2;
}
h1.bef-t:before {
	width: 93px;
}
.scheme {
	padding-top: 115px;
	padding-bottom: 121px;
	background: url(img/scheme-bg.jpg);
}
.scheme h2 {
	line-height: 1;
	margin-bottom: 70px;
}
.scheme h2 span {
	display: block;
	font-size: 0.34em;
	line-height: 1.6;
}
.scheme .file-type {
	display: inline-block;
	margin-left: 10px;
}
.scheme .file-download {
	font-size: 0.78em;
	font-style: italic;
}
.scheme-instruction {
	list-style-position: inside;
}
.scheme-instruction li {
	font-size: 0.78em;
}
.scheme-instruction li {
	margin-bottom: 36px;
}
.scheme-img {
	margin-top: 10px;
}
.contact-us {
	padding-top: 100px;
	background: #ffffff;
}
.contact-us h2 {
	text-align: right;
	line-height: 1;
	margin-bottom: 70px;
}
.contact-us h2 span {
	display: block;
	font-size: 0.34em;
	line-height: 1;
}
.contact-us p {
	text-align: center;
	font-style: italic;
}
.contact-us p a,
.contact-us p strong {
	font-weight: 600;
}
.form-in {
	margin-top: 64px;
	padding: 4%;
	padding-top: 39px;
	padding-bottom: 24px;
	background: #f3f3f3;
}
.contact-us-form input {
	display: inline-block;
	width: 31%;
	padding: 10px 2%;
	margin-right: 2.4%;
	margin-bottom: 24px;
	border: 1px solid #c1c1c1;
	background: #fff;
	outline: none;
	color: #111111;
}
.contact-us-form input[type="submit"] {
	display: block;
	height: 54px;
	width: 220px;
	margin: 42px auto;
	border: none;
	background: #ffde00;
	font-size: 1.67em;
	font-family: 'Roboto Slab', serif;
	font-weight: 800;
	line-height: 1;
}
.contact-us-form input:nth-of-type(3n) {
	margin-right: 0px;
}
.contact-us-form input:focus {
	border: 1px solid #f7b500;
	box-shadow: 0 0 0 1px #f7b500;
}
.pay-type {
	margin-top: 91px;
	margin-bottom: 73px;
}
.pay-type button {
	float: left;
	width: 50%;
	font-size: 1.33em;
	border: none;
	background: #f78600;
}
.pay-type button:hover {
	background: #ffde00;
}
.pay-type button:hover a {
	color: #222;
}
.pay-type button a {
	color: #fff;
}
.pay-type button.active {
	position: relative;
	background: #ffde00;
	box-shadow: 0 0 0 3px #f7b400;
	z-index: 2;
}	
.pay-type button.active a {
	color: #222;
}
.delivery-type {
	margin-bottom: 90px;
}
.delivery-type ol li {
	font-weight: 600;
	font-size: 0.89em;
	line-height: 1.9;
}
footer {
	padding: 17px 0;
	background: #1c1c1b;
}
footer .logo .l-img {
	background-color: transparent;
}
footer .logo a {
	color: #fff;
}
footer .phone {
	font-size: 2em;
	font-weight: 600;
	color: #fd4134;
}
footer .phone sup {
	font-size: 0.6em;
	font-weight: 800;
	color: #feefdc;
}
footer .politicy {
	font-size: 0.78em;
	color: #fd4134;
}
.devevopers {
	font-size: 0.67em;
	color: #5e7273;
}
.devevopers a {
	color: #fd4134;
}
.popup {
	position: relative;
	width: 80%;
	max-width: 459px;
	margin: 20px auto;
	padding: 50px 77px 10px 77px;
	background: #fff;
}
.popup span {
	display: block;
	margin-bottom: 43px;
	font-size: 1.6em;
	font-family: 'Roboto Slab', serif;
	font-weight: 800;
	line-height: 1;
	text-align: center;
	color: #005dab;
}
.popup input,
.popup textarea {
	width: 100%;
	padding: 16px 2%;
	border: 1px solid #0094e6;
	margin-bottom: 11px;
	font-style: italic;
}
.popup textarea {
	height: 150px;
}
.popup input[type="submit"] {
	border: none;
	font-size: 1.6em;
	line-height: 1;
	background: transparent;
	text-decoration: underline;
	font-weight: 800;
	color: #005dab;
}
.carousel {
	height: 306px;
}
.carousel .item {
	height: 306px;
	background-position: center;
	background-size: cover;
}
.owl-nav {
	text-align: center;
}
.owl-nav > div {
	position: relative;
	top: -22px;
	display: inline-block;
	width: 44px;
	height: 44px;
	background: url(img/carousel-arrow.png) #466cbc no-repeat center;
	-webkit-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}
.owl-nav > .owl-prev {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.owl-nav > div:hover {
	background: url(img/carousel-arrow-hover.png) #1e4ab5 no-repeat center;
}
.g-slider {
	height: 325px;
}
.galery .g-slider {
	float: left;
	width: 50%;
}
.galery .owl-item .gs-item {
	height: 325px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.galery .ls {
	float: left;
	width: 50%;
}
.clear:after {
	content: "";
	display: table;
	clear: both;
}
.item-text,
.item-text a {
	color: #fff;
}
.item-text p {
	font-size: 0.77em;
	margin-top: 37px;
}
.item-text {
	position: relative;
	padding: 56px 7% 68px 7%;
	background: #1f60db;
}
.item-text h2 span {
	display: block;
	font-size: 0.34em;
	line-height: 2;
}
.num-of-photo {
	position: absolute;
	right: 19px;
	top: 16px;
	font-weight: 700;
	font-size: 0.77em;
	line-height: 1;
}
.num-of-photo span {
	display: block;
	font-weight: 800;
	font-size: 2.14em;
}
.g-slider-bg {
	float: left;
	width: 50%;
	height: 650px;
}
.galery .g-slider-bg .owl-item .gs-item {
	height: 650px;
}
.g-slider1,
.g-slider2,
.g-slider3,
.g-slider4 {
	position: relative;
	z-index: -1;
}
.video {
	height: 100%;
	overflow: hidden;
}