/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1420px) {
	header .table-bg {
	    width: 60%;
	    position: absolute;
	    bottom: -25%;
	    right: 0%;
	}
	.item-text {
		padding-left: 3%;
		padding-right: 3%;
		font-size: 0.8em;
	}
}
@media only screen and (max-width : 1199px) {
	header .table-bg {
	    width: 60%;
	    position: absolute;
	    bottom: -15%;
	    right: 0%;
	}
	.galery .item-text {
		width: 100%;
	}
	.galery .g-slider1 {
		display: none;
	}
	.g-slider,
	.galery .owl-item .gs-item {
		height: 250px;
	}
	.g-slider-bg,
	.galery .g-slider-bg .owl-item .gs-item {
		height: 500px;
	}
	.item-text {
		padding-top: 50px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	header .email {
		position: absolute;
		top: -23px;
		right: 170px;
	}
	.ask button {
		margin: 0 auto;
		margin-top: 50px;
	}
	.advantages .ask-question {
		bottom: 25%;
	}
	.scheme-img {
		max-width: 95%;
		height: auto;
	}
	.pay-type h3,
	.delivery-type h3 {
		margin-bottom: 20px;
	}
	.devevopers {
		text-align: right;
	}
	.scheme h2 {
		margin-bottom: 20px;
	}
	.download.align-right {
		text-align: left;
		margin-bottom: 20px;
	}
	header .table-bg {
		display: block;
		position: static;
		width: 70%;
		margin: 0 auto;
		margin-top: -50px;
		margin-bottom: 50px;
	}
	.carousel .item {
		height: 240px;
	}
	.g-slider,
	.galery .owl-item .gs-item {
		height: 200px;
	}
	.g-slider-bg,
	.galery .g-slider-bg .owl-item .gs-item {
		height: 400px;
	}
	.item-text {
		padding-top: 30px;
	}
	.item-text p {
		margin-top: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	body {
		font-size: 14px;
	}
	.logo .l-img {
		width: 90px;
	    height: 90px;
	    background-size: 70%;
	}
	.logo a {
		padding-left: 10px;
	}
	header .email {
	    top: -26px;
	    right: 130px;
	}
	.advantages .advantage-item p {
		font-size: 1.14em;
	}
	header h1 {
		margin-left: 4%;
	}
	header .top,
	header .align-right {
		/*text-align: center;*/
	}
	.features .f-item .content {
		width: 100%;
		text-align: center;
	}
	.features .f-item .content .img {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.features .f-item:last-child .content {
		margin: 0px;
	}
	.features .content,
	.features .f-item:first-child .content,
	.features .f-item:last-child .content {
		margin-bottom: 70px;
	}
	.scheme-img {
		display: block;
		margin: 20px auto;
	}
	footer,
	footer .align-right,
	.devevopers {
		text-align: center;
		margin-top: 20px;
	}
	.g-slider,
	.galery .owl-item .gs-item {
		height: 150px;
	}
	.g-slider-bg,
	.galery .g-slider-bg .owl-item .gs-item {
		height: 300px;
	}
}

@media only screen and (max-width : 550px) {
	.logo-container {
		width: 100%;
		text-align: center;
	}
	header .email {
		position: static;
	}
	header .email-container,
	header .call-container {
		float: left;
		text-align: center;
	}
	header .call-container {
		width: 70%;
	}
	header .email-container {
		width: 30%;
	}
	header h1 {
		margin-left: 2%;
		font-size: 4.4em;
	}
	.ask .connect-u {
		margin-right: 8%;
	}
	.advantages img {
		margin-top: -30px;
	}
	.advantage-items {
		margin-top: 50px;
	}
	.advantages .ask-question {
		bottom: 15%;
	}
	header .table-bg {
		width: 80%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header h1 {
		font-size: 3.8em;
	}
	h2 {
		font-size: 2.5em;
	}
	h3 {
		font-size: 1.3em;
	}
	button {
		width: 250px;
	}
	button:before,
	button:after {
		display: none;
	}
	.contact-us-form input {
		width: 45%;
		margin-right: 0px;
	}
	.contact-us-form input:nth-of-type(3n) {
		margin-right: 0px;
	}
	body .contact-us-form input:nth-of-type(2n) {
		margin-left: 7%;
	}
	.pay-type button {
		float: none;
		display: block;
		width: 80%;
		margin: 0 auto;
	}
	.galery .g-slider-bg {
		display: none;
	}
	.galery .ls {
		width: 100%;
	}
}
@media only screen and (max-width : 400px) {
	header h1 {
		font-size: 3.1em;
	}
	.phone {
		font-size: 1.8em;
	}
	header .email {
		font-size: 1em;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}